*{
  font-family: 'Helvetica', 'Arial', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

  .dropdown:hover {
    display: block;
    
  }

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
}

.grid-item {
  background-color: #f2f3f3;
  padding: 1rem;
  border-radius: 8px;
  
}

.arrow-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  margin: 0 8px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}


  .active {
    background-color: #e75480; /* Dark pink color */
    padding: 1px;
    border-radius: 5px;
}

 
  @media (max-width: 767px) {
  .dropdown-menu {
   position: relative; /* Change to relative positioning  */
      display: none;
     
    }

   .dropdown:hover .dropdown-menu {
      display: block;
       position: relative; /* Change to absolute positioning on hover  */
      z-index: 1000;
      width: 100%; 
   }
    .dropdown-menu li:hover{
     border: 1px solid gray;
   } 
   
  }


    .dot {
      width: 15px;
      height: 15px;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer;
      
    }
 
    .active {
     color: rgb(116, 7, 7);
     
    }
